

GRUB_TIMEOUT=-1
GRUD_DEFAULT=unique-linux

GRUB_TERMINAL_INPUT=at_keyboard

menuentry 'New Linux' --id unique-linux {
    insmod part_gpt
    set root=(hd1,4)
    linux /boot/vmlinuz root=/dev/nvme0n1p2 ro
    initrd /boot/initrd.img
}

menuentry 'Old Windows' {
    insmod part_gpt
    set root=(hd3,4)
    chainloader /EFI/Microsoft/Boot/bootmgfw.efi
    boot
}
