

GRUB_TIMEOUT=-1
GRUD_DEFAULT=unique-linux

GRUB_TERMINAL_INPUT=at_keyboard

menuentry 'New Linux' --id unique-linux {
    insmod part_gpt
    set root=(hd1,4)
    linux /vmlinuz root=/dev/nvme0n1p2 ro
    initrd /initrd.img
}

menuentry 'New Windows' {
    insmod part_gpt
    set root=(hd1,2)
    chainloader /EFI/Microsoft/Boot/bootmgfw.efi
    boot
}
